<%- include('./partials/head', { title:'Blog', hojaCss:'styles-blog'}) %>
<%- include('./partials/header') %>

    <main>
        <section class="titulo">
            <h2 class="title-line">BLOG</h2>
        </section>
        <section class="tip-malewo">

            <h3>TIPS MALEWO</h3>
            <div class="style-bar1"></div>
        </section>
        <section class="contenedor-blog">
            <div class="articulos-blog">
                <img src="img/img-home/Screenshot_16.png" alt="preguntas frecuentes">

                <h3 class="texto">Preguntas Frecuentes</h3>
                <p class="texto">Todo los que tenés que saber acerca de nuestros productos</p>
                <a href="" class="fakeBtn">Leer mas</a>

            </div>
            <div class="articulos-blog">
                <img src="img/img-home/Screenshot_13.png" alt="cuida-plantas">

                <h3 class="texto">Cuida tus plantas</h3>
                <p class="texto">¿Queres saber como cuidar tus plantas?</p>
                <a href="" class="fakeBtn">Leer mas</a>

            </div>
            <div class="articulos-blog">
                <img src="img/img-home/Screenshot_14.png" alt="decora-espacios">

                <h3 class="texto">Decora tus espacio</h3>
                <p class="texto">Conoce las nuevas tendencias y como decorar tus espacios</p>
                <a href="" class="fakeBtn">Leer mas</a>

            </div>
        </section>

    </main>
<%- include('./partials/footer') %> 
    <script src="../js/prueba.js"></script>
</body>


</html>

</html>