<%- include('./partials/head', { title:'¿ Quienes Somos ? ', hojaCss:'styles-quienes-somos'}) %>
<%- include('./partials/header') %>
    <main>
        <h1>Gracias por tu compra<h1>
        <p> Se ha enviado un mail a su casilla electronica con los datos de la comprá, una vez finalizada la transferencia envié los datos de la misma a el mail que se comunico con ustéd.</p>


        <img src="/img/logo.png" alt="logo">
    </main>
<%- include('./partials/footer') %> 
    <script src="../js/prueba.js"></script>
</body>

</html>