<%- include('./partials/head', { title:'¿ Quienes Somos ? ', hojaCss:'styles-quienes-somos'}) %>
<%- include('./partials/header') %>
    <main>
        <h1>¿Quienes Somos?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia autem, quisquam aspernatur at nostrum omnis cumque numquam 
            incidunt expedita, eveniet obcaecati qui ab voluptas reprehenderit distinctio provident. Quia, amet earum Lorem ipsum dolo
            r sit amet consectetur adipisicing elit. Vero omnis tenetur maiores repellendus impedit optio harum porro nulla 
            fugit debitis, explicabo itaque obcaecati quam suscipit modi distinctio commodi exercitationem pariatur!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia autem, quisquam aspernatur at nostrum omnis cumque numquam 
                incidunt expedita, eveniet obcaecati qui ab voluptas reprehenderit distinctio provident. Quia, amet earum Lorem ipsum dolo
                r sit amet consectetur adipisicing elit. Vero omnis tenetur maiores repellendus im. </p>

        <img src="/img/logo.png" alt="logo">
    </main>
<%- include('./partials/footer') %> 
    <script src="../js/prueba.js"></script>
</body>

</html>