main {
    display: flex;
    flex-direction: column;
    margin-top: 103px;
    justify-content: center;
    margin-bottom: 20px;
}

.name-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.main-info {
    margin-top: 15px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.style-bar1 {
    height: 1px;
    background: black;
    display: inline-block;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.prfImg {
    width: 40%;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.button-link {
    width: 100%;
}

button {
    width: 25%;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 20px;
}

.email {
    display: inline-block;
}

p {
    display: inline-block;
    font-size: 13px;

}

a {
    text-decoration: none;
}

.deleteBtn {
    width: 40%;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 150px;
    padding: 0%;
}

footer {
    margin-top: 0%;
}

@media (min-width:542px){ 
    .name-picture {
        flex-direction: row;
        margin-top: 30px;
    }
    .prfImg {
        width: 20%;
        display: flex;
        align-items: center;
        border-radius: 50%;
        margin-left: 40%;
        height: 100%;
    }
    h2 {
        margin-left: 5%;
        font-size: 30px;
    }
    p {
        font-size: 17px;
    }
    button {
        width: 15%;
        height: 40px;
        font-size: 15px;
    }
    .deleteBtn {
        width: 15%;
        font-size: 15px;
        height: 40px;
    }
}